:root {
  --primary-color: #00519e;
  --secondary-color: #bcbcbc;
  --body-margin: 1rem;
}

body {
  all: unset;
}

body > #root {
  all: unset;
  min-height: 800px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  background-color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

body > #root > * {
  margin-left: auto;
  margin-right: auto;
}

header {
  grid-area: header;
  width: 100vw;
}

header > nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  height: 60px;
  align-items: center;
}

header > nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  padding: 0;
  gap: 8px;
}

header > nav > ul > li > a {
  color: white;
  font-size: 1.2rem;
}

header > nav > ul {
  margin: 0;
}

main {
  grid-area: main;
  width: 75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 64px;
  background: var(--secondary-color);
}

h1 {
  font-size: 4em;
}

img.logo {
  height: 80%;
}

@media (min-width: 1024px) {
  header > nav {
    justify-content: center;
  }

  header > nav ul {
    width: 15%;
  }
}
